extends ./base.pug
block append style
    link(rel="stylesheet", type="text/css", href="/assets/style.css")
block body
  nav
    a(href="/")
      img#logo(src="/assets/img/admiral.png", alt="logo")
      h1#title Admiralty
    .navlink
      a(href="/login") Login
    .navlink
      a(href="/register") Register
  section#login
    form#loginForm(class="mainForm", name="loginForm", action="/login", method="POST")
      label(for="username") Username:
      input#user(type="text", name="username", placeholder="username")
      label(for="pass") Password:
      input#pass(type="password", name="pass", placeholder="password")
      input#csrf(type="hidden", name="_csrf", value="" + csrfToken)
    h3#error
      span#errorMessage Wrong username or password
    a#loginSubmit(class="formSubmit", href="#") Sign in
block scripts
    script(src="/assets/client.js")
